<!--<div class="editar-floating">
</div>-->
<div class="editar-header">
    <h1 class="editar-title">Editar medico</h1>
    <button id="editar-cerrar" class="editar-button" onclick="hideEditar(this)">
        X
    </button>
</div>
<div class="form-container">
    <label for="editar-nombre">Nombre</label>
    <input class="editar-input" type="text" id="editar-nombre" />

    <label for="editar-apellidos">Apellidos</label>
    <input class="editar-input" type="text" id="editar-apellidos" />

    <datalist id="specialty-type-options">
        <option value="Dentista ayudante">Dentista ayudante</option>
    </datalist>
    <label for="editar-telefono">Especialidad</label>
    <input
        class="editar-input"
        type="text"
        id="editar-especialidad"
        list="specialty-type-options"
    />

    <label for="editar-usuario">Usuario</label>
    <input class="editar-input" type="text" id="editar-usuario" />

    <label for="editar-contrasena">Contrasena</label>
    <input class="editar-input" type="text" id="editar-contrasena" />
</div>
<div class="editar-enviar">
    <button
        class="editar-button"
        id="editar-enviar-button"
        onclick="editarButton(this)"
    >
        Editar
    </button>
</div>
