<!-------------------LIST ELEMENT---------->
<!--<div class="medicos-element">
</div>-->
<div class="medicos-col-wrapper">
    <div class="medicos-label-col">
        <label class="data-label" for="display-nombre">Nombre</label>
        <label class="data-label" for="display-apellidos">Apellidos</label>
        <label class="data-label" for="display-telefono">Especialidad</label>
        <label class="data-label" for="display-usuario">Usuario</label>
        <label class="data-label" for="display-contrasena">Contrasena</label>
        <label class="data-label" for="display-tipo">Tipo de usuario</label>
        <label class="data-label" for="display-id">ID</label>
    </div>

    <div class="medicos-data-col">
        <p class="data-display" id="display-nombre">${nombre}</p>
        <p class="data-display" id="display-apellidos">${apellidos}</p>
        <p class="data-display" id="display-especialidad">${especialidad}</p>
        <p class="data-display" id="display-usuario">asdf</p>
        <p class="data-display" id="display-contrasena">${contrasena}</p>
        <p class="data-display" id="display-tipo">${tipo}</p>
        <p class="data-display" id="display-id">${id}</p>
    </div>
</div>

<div class="medicos-buttons-container">
    <button
        type="button"
        class="medicos-button medicos-button-eliminar"
        onclick="eliminarButton(this)"
        data-id="${id}"
    >
        Eliminar
    </button>
    <button
        type="button"
        class="medicos-button medicos-button-editar"
        onclick="showEditar(this)"
        data-id="${id}"
    >
        Editar
    </button>
</div>
