<!-------------------LIST ELEMENT---------->
<!--<div class="medicos-element">
</div>-->
<div class="medicos-col-wrapper">
    <div class="medicos-label-col">
        <label class="data-label" for="nombre">Nombre</label>
        <label class="data-label" for="apellidos">Apellidos</label>
        <label class="data-label" for="telefono">Telefono</label>
        <label class="data-label" for="direccion">Direccion</label>
        <label class="data-label" for="usuario">Usuario</label>
        <label class="data-label" for="contrasena">Contrasena</label>
        <label class="data-label" for="id">ID</label>
    </div>

    <div class="medicos-data-col">
        <p class="data-display" id="apellidos">${nombre}</p>
        <p class="data-display" id="nombre">${apellidos}</p>
        <p class="data-display" id="telefono">${telefono}</p>
        <p class="data-display" id="direccion">${direccion}</p>
        <p class="data-display" id="usuario">${usuario}</p>
        <p class="data-display" id="contrasena">${contrasena}</p>
        <p class="data-display" id="id">${id}</p>
    </div>
</div>

<div class="medicos-buttons-container">
    <button
        type="button"
        class="medicos-button"
        onclick="eliminarButton(this)"
        data-id="${id}"
    >
        Eliminar
    </button>
    <button
        type="button"
        class="medicos-button"
        onclick="showEditar(this)"
        data-id="${id}"
    >
        Editar
    </button>
</div>
