<!-- <div class="crear-floating">
</div> -->
<div class="crear-header">
    <h1 class="crear-title">Agendar cita</h1>
    <button id="crear-cerrar" class="crear-button" onclick="hideCrear()">
        X
    </button>
</div>
<div class="form-container">
    <label for="crear-fecha">Fecha</label>
    <input class="crear-input" type="date" id="crear-fecha" />

    <datalist id="servicio-options">
        <!-- <option value="Dentista ayudante">Dentista ayudante</option> -->
    </datalist>
    <label for="crear-servicio">Servicio</label>
    <input
        class="crear-input"
        type="text"
        id="crear-servicio"
        list="servicio-options"
    />

    <datalist id="medico-options">
        <!-- <option value="Dentista ayudante">Dentista ayudante</option> -->
    </datalist>
    <label for="crear-medico">Medico</label>
    <input
        class="crear-input"
        type="text"
        id="crear-medico"
        list="medico-options"
        onblur="allowTimes()"
    />

    <datalist id="time-options">
        <!-- <option value="Dentista ayudante">Dentista ayudante</option> -->
    </datalist>
    <label for="crear-hora">Hora</label>
    <input
        class="crear-input"
        type="text"
        id="crear-hora"
        list="time-options"
    />
</div>
<div class="crear-enviar">
    <button
        class="crear-button"
        id="crear-enviar-button"
        onclick="createButton(this)"
    >
        Agendar
    </button>
</div>
