<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--                    OTHERS                   -->
    <servlet>
        <servlet-name>Auth</servlet-name>
        <jsp-file>/main-page/Login.jsp</jsp-file>
    </servlet>
    <!--                  PACIENTES                  -->
    <servlet>
        <servlet-name>InicioPaciente</servlet-name>
        <jsp-file>/paciente/InicioPaciente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Citas</servlet-name>
        <jsp-file>/paciente/Citas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Consultas</servlet-name>
        <jsp-file>/paciente/VerConsultas.jsp</jsp-file>
    </servlet>
    <!--                  Medicos                  -->
    <servlet>
        <servlet-name>InicioMedico</servlet-name>
        <jsp-file>/medico/InicioMedico.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GestionarConsultas</servlet-name>
        <jsp-file>/medico/Consultas.jsp</jsp-file>
    </servlet>
    <!--                  ADMIN                      -->
    
    <servlet>
        <servlet-name>InicioAdmin</servlet-name>
        <jsp-file>/admin-pages/InicioAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GestPac</servlet-name>
        <jsp-file>/admin-pages/GestionarPacientes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GestMed</servlet-name>
        <jsp-file>/admin-pages/GestionarMedicos.jsp</jsp-file>
    </servlet>
    
    
    
    <!--                    OTHERS                   -->
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    
    <!--                  PACIENTES                  -->
    <servlet-mapping>
        <servlet-name>InicioPaciente</servlet-name>
        <url-pattern>/paciente</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citas</servlet-name>
        <url-pattern>/paciente/citas</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultas</servlet-name>
        <url-pattern>/paciente/consultas</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    <!--                  MEDICOS                  -->
    <servlet-mapping>
        <servlet-name>InicioMedico</servlet-name>
        <url-pattern>/medico</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarConsultas</servlet-name>
        <url-pattern>/medico/consultas</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    
    <!--                  ADMIN                      -->
    
    <servlet-mapping>
        <servlet-name>InicioAdmin</servlet-name>
        <url-pattern>/admin</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestPac</servlet-name>
        <url-pattern>/admin/pacientes</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestMed</servlet-name>
        <url-pattern>/admin/medicos</url-pattern> <!-- Any URL you want here -->
    </servlet-mapping>

    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
